.move-buttons {
    display: none;

    .control {
        position: absolute;
        bottom: 5%;
        text-align: center;
        z-index: 1000;
    }

    .direction {
        left: 5%;
    }

    .fire {
        right: 5%;
    }

    button {
        color: black;
        background-color: white;
        opacity: 0.6;
        font-weight: bold;
        font-family: Pixeloid;
    }
}

@media screen and (orientation:landscape) {
    .move-buttons {
        display: block;
    }
}