.app-container {
    position: relative;
    max-width: 74%;
    aspect-ratio: 1.66/1;
    margin: 0 auto;
}

@media screen and (orientation:portrait) {
    .app-container {
        max-width: 100%;
    }
}