.game-start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    #title {
        font-family: Pixeloid;
        font-size: 60px;
        color: brown;
    }

    .tank-animation{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        right: 0;
        transform: rotate(270deg);
        animation: cross 7s;
    }
}

@keyframes cross {
    from {right: 0;}
    to {right: 100%;}
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

