.game-start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    #title {
        font-family: Pixeloid;
        font-size: 60px;
        color: brown;
    }

    .tank-animation{
        position: absolute;
        width: 20px;
        height: 20px;
        top: 250px;
        left: 800px;
        background-position: 20px 40px;
        animation: cross 5s;
    }
}

@keyframes cross {
    from {left: 800px;}
    to {left: 0px;}
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

